.cart {
  position: relative;
  border: none;
  background-color: transparent;
  color: var(--primary);
  border-radius: 8px;

  transition: transform 0.25s ease-out;

  &:hover {
    transform: scale(1.05);
  }

  &:focus-visible {
    outline: 2px solid var(--primary-light);
    outline-offset: 2px;
  }
}

.items-counter {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 0.6rem;
  background-color: var(--primary);
  color: #fff;
  padding: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: grid;
  place-content: center;
}
