:root {
  --primary: #3131c0;
  --primary-light: #9393e1;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: system-ui;
}

main {
  flex: 1;
}

a {
  color: var(--primary-light);
  text-decoration: none;

  &:active {
    color: var(--primary);
  }
}
