#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: system-ui;
}

main {
  flex: 1;
}

a {
  color: #9393e1;
  text-decoration: none;

  &:active {
    color: #3131c0;
  }
}
