:root {
  --primary: #1447e6;
  --primary-light: #8ec5ff;
  --money: #00d492;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: system-ui;
}

main {
  flex: 1;
}

.link {
  display: flex;
  gap: 4px;
  color: var(--primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: var(--primary-light);
  }
}

.money {
  color: var(--money);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.primary-btn {
  width: 100%;
  background-color: var(--primary);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px 16px;
  transition: background-color 0.25s ease-out;

  &:hover {
    background-color: var(--primary-light);
  }
}
