.primary-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: var(--primary);
  color: #fff;
  display: flex;
  gap: 8px;
  transition-property: background-color, box-shadow;
  transition-duration: 0.25s;

  &:hover {
    box-shadow: 0 0 10px var(--primary-light);
  }

  &:active {
    background-color: var(--primary-dark);
  }

  &:focus-visible {
    outline: 2px solid var(--primary-light);
    outline-offset: 2px;
  }
}
