.button {
  --color: var(--primary);
  --hover: var(--primary-light);
  --active: var(--primary-dark);
  --focus: var(--primary-light);
  --text: #fff;

  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: var(--color);
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition-property: background-color, box-shadow;
  transition-duration: 0.25s;

  &:hover {
    box-shadow: 0 0 10px var(--hover);
  }

  &:active {
    background-color: var(--active);
  }

  &:focus-visible {
    transition: none;
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 0 var(--focus);
    outline: none;
  }
}

.danger {
  --color: var(--danger);
  --hover: var(--danger-light);
  --active: var(--danger-dark);
  --focus: var(--danger-light);
}

.secondary {
  --color: var(--primary-light);
  --text: var(--primary-dark);
}
