.button {
  --background: var(--primary);
  --background-active: var(--primary-dark);
  --shadow-hover: var(--primary-light);
  --shadow-focus: var(--primary-light);
  --foreground: #fff;

  padding: 8px 16px;
  border: 1px solid var(--background);
  border-radius: 8px;
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition-property: background-color, box-shadow;
  transition-duration: 0.25s;

  &:hover {
    box-shadow: 0 0 10px var(--shadow-hover);
  }

  &:active {
    background-color: var(--background-active);
  }

  &:focus-visible {
    transition: none;
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 0 var(--shadow-focus);
    outline: none;
  }
}

.danger {
  --background: var(--danger);
  --shadow-hover: var(--danger-light);
  --background-active: var(--danger-dark);
  --shadow-focus: var(--danger-light);
}

.secondary {
  --background: var(--primary-lighter);
  --foreground: var(--primary-dark);
  --shadow-hover: transparent;
  --background-active: transparent;
}

.secondary.dark:active {
  --foreground: var(--primary-lighter);
}
