.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  padding-block: 16px;
}

.items-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 8px;
}

.button {
  width: 15%;
  min-width: fit-content;
  font-size: 1.5rem;
}

.check-icon {
  font-size: 1.5rem;
}

.toast-icon {
  color: var(--money);
}