.sidebar {
  --spacing: 16px;
  --shadow: rgba(0, 0, 0, 0.2);

  width: 30vw;
  min-width: 350px;
  height: 100vh;

  position: fixed;
  top: 0;
  right: 0;

  background-color: var(--background);
  box-shadow: -2px 0 5px var(--shadow);
  border: none;
  padding: var(--spacing);

  display: flex;
  flex-direction: column;
  gap: var(--spacing);

  transform: translateX(0);
  transition-property: transform, display;
  transition-duration: 0.25s;
  transition-behavior: allow-discrete;

  & h2 {
    text-align: center;
  }

  & ul {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    list-style: none;
    overflow-y: auto;
  }

  @starting-style {
    transform: translateX(100%);
  }
}

.sidebar.hidden {
  transform: translateX(100%);
  display: none;
}

.sidebar.dark {
  --shadow: rgba(255, 255, 255, 0.2);
}

.sidebar.empty {
  align-items: center;
  justify-content: center;
}

.close-btn {
  position: fixed;
  top: var(--spacing);
  right: var(--spacing);
  transition: transform 0.25s;

  &:hover,
  &:focus-visible {
    transform: rotate(90deg);
  }

  &:focus-visible {
    outline: none;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing);
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--spacing);
}
