.navbar {
  --spacing: 16px;
  --shadow: rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  gap: var(--spacing);
  padding-block: 16px;
}

.navbar.dark {
  --shadow: rgba(255, 255, 255, 0.2);
}

.navbar.animated {
  position: sticky;
  top: 0;
  animation: blur 0.25s ease-out forwards;
  animation-timeline: scroll();
  animation-range: 0 100px;
}

@keyframes blur {
  100% {
    background-color: var(--background);
    box-shadow: 0 2px 4px var(--shadow);
  }
}

.links {
  display: flex;
  gap: var(--spacing);
  list-style: none;
}
